In [1]:
# load all necessary libraries
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
pd.set_option('max_colwidth', 100)

In [2]:
df = pd.read_csv("C:\\Users\\Shubham\\Desktop\\Leader Merge File.csv")
df.head(136000)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Tweet Id,Text,Subjectivity,Polarity,score,leader
0,0,0,0.0,1.600000e+18,Removal of Article 370 ended corruption in J&amp;K. SC should dismiss all the application ...,0.000000,0.000000,Neutral,amit
1,1,1,1.0,1.600000e+18,Invasion can be quite mischievous. Do people use such colors for common use? Love Jihad...,0.700000,0.060000,Positive,amit
2,2,2,2.0,1.600000e+18,Supreme Court is going to start hearing on Article 370 &amp; 35 A. Would Supreme Court of India ...,0.000000,0.000000,Neutral,amit
3,3,3,3.0,1.600000e+18,Article 370 was Abrogated and many Progressive Central Laws were extended to JK but on the grou...,0.375000,0.250000,Positive,amit
4,4,4,4.0,1.600000e+18,POK liya bjp ne ?\nAksai chin liya?\nBhai Congress ke Negative points pata hai.. Bjp ke posit...,0.542424,-0.034545,Negative,amit

In [7]:
#TF-IDF model using Tfidf vectorizer function.
vectorizer = TfidfVectorizer()
tfidf_model = vectorizer.fit_transform(df)
print(tfidf_model)

  (0, 7)	1.0
  (1, 7)	1.0
  (2, 7)	1.0
  (3, 0)	0.7071067811865476
  (3, 6)	0.7071067811865476
  (4, 5)	1.0
  (5, 4)	1.0
  (6, 2)	1.0
  (7, 3)	1.0
  (8, 1)	1.0

In [8]:
# print the full sparse matrix
print(tfidf_model.toarray())

[[0.         0.         0.         0.         0.         0.
  0.         1.        ]
 [0.         0.         0.         0.         0.         0.
  0.         1.        ]
 [0.         0.         0.         0.         0.         0.
  0.         1.        ]
 [0.70710678 0.         0.         0.         0.         0.
  0.70710678 0.        ]
 [0.         0.         0.         0.         0.         1.
  0.         0.        ]
 [0.         0.         0.         0.         1.         0.
  0.         0.        ]
 [0.         0.         1.         0.         0.         0.
  0.         0.        ]
 [0.         0.         0.         1.         0.         0.
  0.         0.        ]
 [0.         1.         0.         0.         0.         0.
  0.         0.        ]]

In [9]:
pd.DataFrame(tfidf_model.toarray(), columns = vectorizer.vocabulary_.keys())

    unnamed  tweet   id  text  subjectivity  polarity     score  leader
0  0.000000    0.0  0.0   0.0           0.0       0.0  0.000000     1.0
1  0.000000    0.0  0.0   0.0           0.0       0.0  0.000000     1.0
2  0.000000    0.0  0.0   0.0           0.0       0.0  0.000000     1.0
3  0.707107    0.0  0.0   0.0           0.0       0.0  0.707107     0.0
4  0.000000    0.0  0.0   0.0           0.0       1.0  0.000000     0.0
5  0.000000    0.0  0.0   0.0           1.0       0.0  0.000000     0.0
6  0.000000    0.0  1.0   0.0           0.0       0.0  0.000000     0.0
7  0.000000    0.0  0.0   1.0           0.0       0.0  0.000000     0.0
8  0.000000    1.0  0.0   0.0           0.0       0.0  0.000000     0.0

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Read the CSV file
data = pd.read_csv("C:\\Users\\Shubham\\Desktop\\Leader Merge File.csv")

# Extract the text data
text_data = data['Text']

# Remove missing values and non-string values
text_data = text_data.dropna().astype(str)

# Vectorize the text data using TF-IDF
vectorizer = TfidfVectorizer(max_features=7)  # Specify the maximum number of features
X = vectorizer.fit_transform(text_data)

# Manually specify column names
column_names = ['Unnamed: 0', 'Tweet Id', 'Text', 'Subjectivity', 'Polarity','score', 'leader']

# Convert the TF-IDF matrix to a DataFrame with manual column names
df_tfidf = pd.DataFrame.sparse.from_spmatrix(X, columns=column_names)
print(df_tfidf)

        Unnamed: 0  Tweet Id      Text  Subjectivity  Polarity     score  \
0         0.000000  0.000000  0.574548      0.000000  0.772861  0.269408
1         0.000000  0.595587  0.000000      0.498282  0.435455  0.455379
2         0.319968  0.000000  0.311864      0.640047  0.559344  0.000000
3         0.527331  0.000000  0.000000      0.527422  0.000000  0.482010
4         0.000000  0.000000  0.000000      1.000000  0.000000  0.000000
...            ...       ...       ...           ...       ...       ...
136081    0.000000  0.000000  0.744487      0.000000  0.667637  0.000000
136082    0.382726  0.000000  0.373033      0.382792  0.000000  0.349833
136083    0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
136084    1.000000  0.000000  0.000000      0.000000  0.000000  0.000000
136085    0.000000  0.000000  0.000000      0.753777  0.000000  0.000000

          leader
0       0.000000
1       0.000000
2       0.278991
3       0.459798
4       0.000000
...          ...
136081  0.000000
136082  0.667423
136083  0.000000
136084  0.000000
136085  0.657130

[136086 rows x 7 columns]

In [1]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

In [2]:
np.random.seed(500)

In [3]:
Corpus = pd.read_csv(r"C:\Users\Shubham\Desktop\Amit Shah for tfidf.csv",encoding='latin-1')

In [4]:
# Step - a : Remove blank rows if any.
Corpus['Text'].dropna(inplace=True)
# Step - b : Change all the text to lower case. This is required as python interprets 'dog' and 'DOG' differently
Corpus['Text'] = [str(entry).lower() for entry in Corpus['Text']]
# Step - c : Tokenization : In this each entry in the corpus will be broken into set of words
Corpus['Text']= [word_tokenize(entry) for entry in Corpus['Text']]
# Step - d : Remove Stop words, Non-Numeric and perfom Word Stemming/Lemmenting.
# WordNetLemmatizer requires Pos tags to understand if the word is noun or verb or adjective etc. By default it is set to Noun
tag_map = defaultdict(lambda : wn.NOUN)
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV
for index,entry in enumerate(Corpus['Text']):
    # Declaring Empty List to store the words that follow the rules for this step
    Final_words = []
    # Initializing WordNetLemmatizer()
    word_Lemmatized = WordNetLemmatizer()
    # pos_tag function below will provide the 'tag' i.e if the word is Noun(N) or Verb(V) or something else.
    for word, tag in pos_tag(entry):
        # Below condition is to check for Stop words and consider only alphabets
        if word not in stopwords.words('english') and word.isalpha():
            word_Final = word_Lemmatized.lemmatize(word,tag_map[tag[0]])
            Final_words.append(word_Final)
    # The final processed set of words for each iteration will be stored in 'text_final'
    Corpus.loc[index,'text_final'] = str(Final_words)

In [ ]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(Corpus['text_final'],Corpus['Text'],test_size=0.3)

In [ ]:
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)